<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Document</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/Jy4iy2v.png');
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: 100% 100%;
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <a class="navbar-brand" href="home">DataAirlines</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        </div>
    </nav>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
        <div class="alert alert-primary" role="alert" style="padding: 20px;">
            {{msg}}
        </div>
        {% endfor %}
    {% endif %}
    {% endwith %}
    <br>
    <h2>Welcome to DataAirlines! You can sign up here!</h2>
    <br>

    <form action="signupcheck" method="POST" style="padding: 2.5%;">
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputUID">UserName</label>
            <input type="text" class="form-control" id="inputUID" name="inputUID">
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword">Password</label>
            <input type="password" class="form-control" id="inputPassword" name="inputPassword">

            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputFirstName">First Name</label>
            <input type="text" class="form-control" id="inputFirstName" name="inputFirstName">
          </div>
          <div class="form-group col-md-6">
            <label for="inputLastName">Last Name</label>
            <input type="text" class="form-control" id="inputLastName" name="inputLastName">

            </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail">Email</label>
            <input type="email" class="form-control" id="inputEmail" name="inputEmail">
          </div>
          <div class="form-group col-md-6">
            <label for="inputTel">Telephone Number</label>
            <input type="number" class="form-control" id="inputTel" name="inputTel">

            </div>
        </div>
        <div class="form-group">
          <label for="inputAddress">Address</label>
          <input type="text" class="form-control" id="inputAddress" name="inputAddress" >
        </div>
        <div class="form-group">
          <label for="inputBirthday">Birthday</label>
          <input type="date" class="form-control" id="inputBirthday"  name="inputBirthday">
        </div>
        <div class="form-group">
          <label for="inputIBAN">IBAN</label>
          <input type="text" class="form-control" id="inputIBAN"  name="inputIBAN">
        </div>
        <div class="form-group">
          <div class="form-check">
            <input class="form-check-input" checked type="checkbox" id="gridCheck" required>
            <label class="form-check-label" for="gridCheck">
              I have read and agreed to the End User License Agreement
            </label>
          </div>
        </div>
        <button type="submit" class="btn btn-primary">Sign up</button>
      </form>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>